@import "tailwindcss";

@layer utilities {
  .text-custom {
    color: #E4F265;
    text-shadow: 3px 5px 42px #D6E359;
  }
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

#app {
    width: 100%;
    height: 100%;
}

